<div class="row">
    {% for product in products %}
    <div class="col-md-3 mb-4">
        <div class="card shadow-sm h-100">
            <img src="https://via.placeholder.com/300" class="card-img-top">

            <div class="card-body">
                <h5>{{ product.name }}</h5>

                <p class="text-muted">{{ product.category }}</p>

                <p class="text-success fw-bold">₹{{ product.price }}</p>

                <p>⭐ {{ product.rating }}</p>

                <p class="small">{{ product.desc }}</p>

                <a href="/product/{{ product.id }}" class="btn btn-primary w-100">View Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
